!!! 5
html
  head
    title versez
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block html_head
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/css/site.css')
      script(src='/js/bootstrap.min.js')
      script(src='/js/site.ugly.js')
  body
    .container-fluid#page-container
      .row-fluid
        .span3.buffer-left.hidden-phone
          // TODO: Add some neat art
          span &nbsp;

        .span6#page-inner-container
          .row-fluid
            .span12#page-header
              include includes/header
          .row-fluid
            .span12#page-content
              block content
                p Under Contruction!
          .row-fluid
            .span12#page-footer
              include includes/footer

        .span3.buffer-right.hidden-phone
          // TODO: Add some neat art
          span &nbsp;
